*.eps
*.svg

*.cc~
*.txt~
*.vtk
*.pdf

*.h5
*.cmake
*.vtu*

*~
*.csv
*.out

CMakeCache.txt
*.cmake

Makefile

# ignore execuatbe binary
scalarGL_realValue
complexGL

CMakeFiles/
doc/
ScalarGL_RealValue_DifferentGeometry_1/
poissonEq_hdf5OutPut/
build/

